.mynavbar-list-mobile-enter {
  transform: translateX(400px);
}
.mynavbar-list-mobile-enter-active {
  transform: translateX(0);
  transition: transform 300ms;
}
.mynavbar-list-mobile-exit-active {
  transform: translateX(400px);
  transition: transform 300ms;
}
