// Home section
@import "./variable.scss";
@import "./mixins/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
//Home Section
.container-home-content {
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 0 60px 0;
  .home-content__title {
    @include CenterFlex();
    flex-direction: column;
    .home-content__title__intro {
      font-size: 65px;
      opacity: 0.9;
      text-align: left;
      margin-bottom: 16px;
      font-family: "Amatic SC", cursive;
      font-weight: 700;
      line-height: 1.2;
    }
    .home-content__title__midtro {
      color: #5d5d67;
      text-align: left;
      margin-bottom: 30px;
      font-size: 15px;
    }
    .home-content-title-trailer {
      @include CenterFlex();
      width: 100%;
      justify-content: flex-start;
      .title-trailer-btn {
        font-size: 14px;
        font-weight: 500;
        margin-right: 24px;
        padding: 12px 36px;
        letter-spacing: 1px;
        box-shadow: 0 8px 28px rgb(206 18 18 / 20%);
        border-radius: 50px;
        transition: 0.5s;
        &:hover {
          box-shadow: 0 8px 28px rgb(206 18 18 / 45%);
        }
      }
      .title-trailer-video {
        display: flex;
        color: $main-color;
        opacity: 1;
        transition: 0.5s;
        cursor: pointer;
        font-size: 34px;
        & span {
          position: relative;
          top: 3px;
          color: #3f4246;
          padding-top: 2px;
          margin-left: 10px;
          font-size: 16px;
          font-weight: bold;
          font-family: "Inter", sans-serif;
          transition: 0.5s;
        }
        &:hover {
          opacity: 0.8;
          & span {
            color: $main-color;
          }
        }
      }
    }
  }
  .home-content__image {
    @include CenterFlex();
  }
}

// About Section
.container-about-content {
  background-color: #fff;
  min-height: 1000px;
  padding: 80px 0;
  .container-about {
    height: 100%;
  }
  .container-about-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & div {
      color: #7f7f90;
      font-size: 13px;
      letter-spacing: 1px;
      font-weight: 400;
    }
    & :nth-of-type(2) {
      @include HeaderContent();
    }
  }
  .container-about-content-image {
    display: flex;
    // height: 500px;
    .content-image-picture {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 500px;
      font-size: 28px;
      font-weight: 700;
      background: url("../assests/images/about-images/about.jpg") no-repeat top
        left;
      border-radius: 2px;
      // background-size: 100% 700px;
      color: $main-color;
      .content-image-phone {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 25px rgb(0, 0, 0, 0.08);
        padding: 20px;
        & :first-child {
          color: #212529;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        position: absolute;
        background-color: #fff;
        width: 80%;
        margin: 0 auto;
        bottom: 10%;
        right: 0;
        left: 0;
      }
    }
  }
  .container-about-content-intro {
    .content-intro-box {
      padding-left: 48px;
    }
    text-align: left;
    .content-intro__info {
      p {
        font-style: italic;
        margin-bottom: 19px;
      }
      .intro__info-list {
        list-style: none;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li {
          position: relative;
          padding: 0 0 8px 26px;
          .info-list-item__icon {
            position: absolute;
            top: 3px;
            left: 0px;
            filter: invert(21%) sepia(46%) saturate(7053%) hue-rotate(8deg)
              brightness(81%) contrast(119%);
            height: 20px;
            width: 20px;
          }
          &:first-child {
            .info-list-item__icon {
              path {
                stroke-width: 2px;
              }
            }
          }
        }
        & :last-child {
          text-align: left;
        }
        ~ p {
          text-align: left;
          font-style: normal;
        }
      }
    }
    .content-intro__video {
      position: relative;
      .intro__video-picture {
        max-width: 100%;
        border-radius: 2px;
      }
      .intro__video-clip {
        position: absolute;
        top: calc(50% - 47px);
        left: calc(50% - 47px);
        width: 94px;
        height: 94px;
        border-radius: 50%;
        text-decoration: none;
        background: radial-gradient(
          $main-color 50%,
          rgba(206, 18, 18, 0.4) 52%
        );
        overflow: hidden;
        z-index: 999;
        transition: all 0.3s ease-in;
        &:before {
          content: "";
          position: absolute;
          top: -15%;
          left: -15%;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 5px solid rgba(206, 18, 18, 0.4);
          animation: Pulse 2s infinite;
        }
        &:after {
          content: "";
          position: absolute;
          top: 40%;
          left: 45%;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 15px solid #fff;
          transform: scale(1);
          opacity: 1;
          transition: all 0.3s ease-in;
        }
        &:hover {
          background-color: $main-color;
          &::after {
            transform: scale(10);
            opacity: 0;
          }
          &:before {
            content: "";
            position: absolute;
            top: 40%;
            left: 45%;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #fff;
            opacity: 1;
            width: 0;
            height: 0;
            animation: none;
            border-radius: 0;
          }
        }
      }
    }
  }
}

// Introduce Section
.introduce-container {
  padding: 80px 0px;
  .introduce-container-content {
    display: flex;
    justify-content: space-between;
    .introduce-container-content__why {
      display: flex;
      flex-direction: column;
      padding: 30px;
      text-align: left;
      background-color: $main-color;
      color: #fff;
      & span {
        font-size: 34px;
        font-weight: 600;
        line-height: 40px;
        font-family: "Inter", sans-serif;
        margin-bottom: 30px;
      }
      & p {
        margin-bottom: 30px;
      }
      .introduce-content-btn {
        background-color: rgba(255, 255, 255, 0.3);
        padding-left: 26px;
        padding-right: 26px;
        font-size: 16px;
        width: 147px;
        align-self: center;
        justify-content: center;
        &:hover {
          background-color: #fff;
          color: $main-color;
        }
      }
    }
    .introduce-container-content-whylist {
      @include CenterFlex();
      padding-left: 0px;
      .content-whylist-bigbox {
        margin-left: 0px;
        .content-whylist-box {
          padding-right: 14px;
        }
      }
      .content-whylist__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        padding: 40px 30px;
        width: 100%;
        height: 100%;
        text-align: center;
        transform: scale(1);
        transition: all 0.3s ease;
        .whylist__item-icon-contain {
          width: 64px;
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: #fae7e7;
          margin-bottom: 30px;
          .content-whylist__item-icon {
            width: 32px;
            height: 32px;
            filter: invert(21%) sepia(46%) saturate(7053%) hue-rotate(8deg)
              brightness(81%) contrast(119%);
          }
        }
        h4 {
          font-size: 20px;
          font-weight: 400;
          font-family: "Inter", sans-serif;
          margin-bottom: 30px;
        }
        p {
          font-size: 15px;
          color: $text--secondary-color;
          width: 102%;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

// Stat section
.stat-container {
  background: url("../assests/images/stats-bg.jpg") no-repeat fixed center
    center;
  background-size: cover;
  .stat-container-background {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .stat-container-content {
    .stat-container-content-list {
      padding: 100px 0;
      overflow: hidden;
      .stat-container-content__item {
        display: flex;
        flex-direction: column;
        padding: 30px;
        color: #fff;
        & p {
          font-size: 48px;
          font-weight: 700;
          margin-bottom: 0;
        }
        span {
          color: #c1c1c1;
          font-weight: 700;
          // text-shadow: 0px 1px, 1px 0px, 1px 1px;
        }
      }
    }
  }
}

// Menu section
.menu-container {
  padding: 80px 0;
  background-color: #fff;
  .menu-header {
    @include HeaderContent();
    margin-bottom: 0;
    & p {
      padding-bottom: 30px;
      margin-bottom: 0;
    }
  }
  .menu-food-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-food-list__item {
      margin: 0 10px;
      a {
        text-decoration: none;
        padding: 10px 5px;
        font-size: 18px;
        color: $text--primary-color;
        border: 0;
        border-bottom: 2px solid #b6b6bf;
        transition: 0.2s;
        &:hover {
          color: $main-color;
          border-color: rgba(182, 182, 191, 0.5);
        }
        &.active {
          color: $main-color;
          border: 0;
          border-bottom: 2px solid $main-color;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .menu-content {
    .menu-content-header {
      @include HeaderContent();
      font-family: "Inter", sans-serif;
      font-size: 36px;
      font-weight: 600;
      margin-top: 36px;
      & h3 {
        color: $text--secondary-color;
        font-size: 14px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
    .menu-content-list {
      .menu-content-box {
        .menu-box__item {
          padding: 0 60px;
          margin-top: 48px;
          & img {
            height: 296px;
            width: 296px;
            margin-bottom: 15px;
          }
          & div {
            font-size: 22px;
            font-weight: 600;
            color: $text--primary-color;
            padding-bottom: 7px;
          }
          & p {
            font-size: 16px;
            color: $text--secondary-color;
            padding-bottom: 8px;
            margin-bottom: 0;
          }
          & span {
            color: $main-color;
            font-size: 24px;
            font-weight: 700;
          }
        }
      }
    }
  }
}

// testimonial section
.testimonial-container {
  padding: 80px 0;
  .testimonial-header {
    @include HeaderContent();
  }
  .testimonial-content {
    display: flex;
    justify-content: center;
    position: relative;
    & p {
      font-style: italic;
    }
    .testimonial__item {
      text-align: left;
      padding-left: 26px;
      border-left: 3px solid $main-color;
      margin-bottom: 83px;
      .testimonial__item-icon-left {
        filter: invert(50%) sepia(51%) saturate(2180%) hue-rotate(327deg)
          brightness(97%) contrast(94%);
        height: 26px;
        width: 26px;
      }
      .testimonial__item-icon-right {
        filter: invert(50%) sepia(51%) saturate(2180%) hue-rotate(327deg)
          brightness(97%) contrast(94%);
        height: 26px;
        width: 26px;
      }

      .star {
        filter: invert(75%) sepia(48%) saturate(1106%) hue-rotate(353deg)
          brightness(101%) contrast(102%);
      }
      & h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        font-family: "Inter", sans-serif;
      }
      & h4 {
        font-size: 14px;
        color: #6c757d;
        font-weight: bold;
        margin: 10px 0 5px 0;
        font-family: "Inter", sans-serif;
      }
    }
    .testimonial-content-picture {
      border-radius: 50%;
      max-width: 100%;
      height: auto;
      border: 4px solid #fff;
    }
  }
  ul {
    // top: 51px !important;
    .paging-item {
      margin-top: 10px;
      &.active {
        & .carousel-dot {
          fill: $main-color !important;
          opacity: 1 !important;
        }
      }
      .carousel-dot {
        padding: 0 5px;
        padding-top: 10px;
        fill: $text--secondary-color !important;
        opacity: 0.3 !important;
        .paging-dot {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
// Event secion
.event-container {
  background-color: #fff;
  padding: 80px 0;
  .event-header {
    @include HeaderContent();
    margin-bottom: 0px;
    padding-bottom: 24px;
    & p {
      margin-bottom: 0px;
    }
  }
  .event-content {
    .event-content__item {
      width: 527.656px;
      margin-bottom: 83px;
      .event-content__item-box {
        text-align: left;
        display: flex;
        margin-right: 1px;
        flex-direction: column;
        padding: 30px;
        justify-content: flex-end;
        min-height: 600px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        & h3 {
          margin-bottom: 5px;
          font-size: 24px;
          font-weight: 700;
          font-family: "Inter", sans-serif;
        }
        & div {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 15px;
          border-bottom: 2px solid $main-color;
          align-self: flex-start;
        }
        & .description {
          margin-bottom: 0;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
    .event-content__item-1 {
      background: url("../assests/images/events-images/events-1.jpg") no-repeat;
      background-size: cover;
    }
    .event-content__item-2 {
      background: url("../assests/images/events-images/events-2.jpg") no-repeat;
      background-size: cover;
    }
    .event-content__item-3 {
      background: url("../assests/images/events-images/events-3.jpg") no-repeat;
      background-size: cover;
    }
    ul {
      .paging-item {
        &.active {
          & .carousel-dot {
            fill: $main-color !important;
            opacity: 1 !important;
          }
        }
        .carousel-dot {
          padding: 0 5px;
          fill: $text--secondary-color !important;
          opacity: 0.3 !important;
          .paging-dot {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
  }
}

// Chefs section
.chefs-container {
  padding: 80px 0;
  .chefs-header {
    @include HeaderContent();
    margin-bottom: 0;
  }
  .chefs-content {
    .chefs-content-box {
      box-shadow: 0px 0 30px rgb(55 55 63 / 8%);
      transform: scale(1);
      transition: 0.3s;
      transition-delay: 0.1s;
      border-radius: 5px;
      overflow: hidden;
      .chefs-content-img {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          width: 100%;
          height: 20%;
          z-index: 1;
          background: url("../assests/images/team-shape.svg") no-repeat center
            bottom;
          background-size: cover;
        }
        & img {
          border-radius: 4px;
        }
        .chefs-content-social {
          // display: none;
          position: absolute;
          top: 30px;
          border-radius: 4px;
          background-color: #dad2c9;
          right: 8px;
          opacity: 0.8;
          transform: translateX(50px);
          transition: 0.2s;
          transition-delay: 0.2s;
          & a {
            display: block;
            margin: 15px 12px;
            line-height: 0;
            transition: 0.3s;
            color: rgba(55, 55, 63, 0.5);
            & svg {
              width: 18px;
              height: 18px;
            }
            &:hover {
              color: rgba(55, 55, 63, 0.9);
            }
          }
        }
      }
      .chefs-content__item {
        background-color: #fff;
        padding: 10px 15px 20px 15px;
        & h4 {
          text-transform: capitalize;
          color: $text--primary-color;
          font-weight: 700;
          margin-bottom: 5px;
          font-size: 20px;
        }
        & span {
          color: $text--secondary-color;
          font-size: 14px;
          opacity: 0.6;
        }
        & p {
          color: $text--secondary-color;
          padding-top: 16px;
          font-size: 14px;
          font-style: italic;
        }
      }
      &:hover {
        transform: scale(1.08);
        box-shadow: 0px 0 30px rgb(55 55 63 / 15%);
        .chefs-content-social {
          display: block;
          transform: translateX(0px);
        }
      }
    }
  }
}

// Booking section
.book-container {
  background-color: #fff;
  padding: 80px 0;
  .book-header {
    @include HeaderContent();
    margin-bottom: 0px;
    & p {
      margin-bottom: 6px;
    }
  }
  .book-content {
    background-color: #f7f7f7;
    display: flex;
    .book-content-img {
      background: url("../assests/images/reservation.jpg") no-repeat;
      min-height: 500px;
      background-position: center;
      background-size: cover;
    }
    .book-content-form {
      display: flex;
      // align-items: center;
      justify-content: center;
      & form {
        justify-self: center;
        align-self: center;
        padding: 40px;
        .book-content-form-list {
          margin-bottom: 16px;
        }
        & button {
          padding: 14px 60px;
          font-size: 16px;
          border-radius: 30px;
          // margin-bottom: ;
        }
      }
      .book-content-form__input,
      .book-content-form__textarea {
        border-radius: 0;
        font-size: 14px;
        padding: 12px 15px;
        font-family: "Inter", sans-serif;
      }
      .book-content-form__textarea {
        margin-bottom: 16px;
      }
    }
  }
}

// Gallery sections
.gallery-container {
  background-color: #eeeeee;
  padding: 80px 0;
  .gallery-header {
    @include HeaderContent();
  }
  .gallery-content {
    display: flex;
    .slide {
      margin-bottom: 80px;
      margin-right: 20px;
    }
  }
  .slider-frame {
    padding-top: 20px;
  }
  .slide-current + .slide-visible + .slide-visible {
    border: 6px solid $main-color;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
    width: fit-content;
    & img {
      padding: 4px;
    }
  }

  ul {
    .paging-item {
      &.active {
        & .carousel-dot {
          fill: $main-color !important;
          opacity: 1 !important;
        }
      }
      .carousel-dot {
        padding: 0 5px;
        fill: $text--secondary-color !important;
        opacity: 0.3 !important;
        .paging-dot {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

// Contact section
.contact-container {
  padding: 80px 0;
  background-color: #fff;
  .contact-header {
    @include HeaderContent();
  }
  .contact-content {
    .contact-info {
      .contact-info__item {
        display: flex;
        background-color: #f4f4f4;
        padding: 30px;
        .contact__item-pic {
          margin-right: 15px;
          width: 56px;
          height: 56px;
          background-color: $main-color;
          display: flex;
          align-items: center;
          justify-content: center;
          & img {
            width: 24px;
            height: 24px;
            filter: invert(94%) sepia(94%) saturate(0%) hue-rotate(190deg)
              brightness(107%) contrast(105%);
          }
          border-radius: 50%;
        }
        & div {
          text-align: left;
          h3 {
            font-size: 20px;
            color: #6c757d;
            font-weight: bold;
            margin: 0 0 5px 0;
          }
          p {
            font-size: 14px;
            margin-bottom: 0;
          }
        }
      }
    }
    .contact-form {
      form {
        margin-top: 30px;
        box-shadow: 0 0 30px rgb(0 0 0 / 8%);
        padding: 24px;
        .contact-form__input {
          width: 100%;
          border-radius: 0;
          font-size: 14px;
          padding: 12px 14px;
          outline: none;
          &:focus {
            border: 1px solid $main-color;
            box-shadow: none;
          }
        }
        .contact-textarea-box {
          padding-bottom: 20px;
        }
        .contact-from__textarea {
          border-radius: 0;
          &:focus {
            border: 1px solid $main-color;
            box-shadow: none;
          }
        }
        .contact-btn {
          padding: 12px 40px;
          border-radius: 30px;
          font-size: 16px;
          transition: 0.4s;
          &:hover {
            opacity: 1;
            background-color: #ec2727;
          }
        }
      }
    }
  }
}
