* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  overflow: hidden;
  height: 100%;
}
.App-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  & span {
    & span {
      border: thick solid #ce1212 !important;
    }
  }
}
