@import "../../variable.scss";
.mynavbar-list-mobile-enter {
  transform: translateX(400px);
}
.mynavbar-list-mobile-enter-active {
  transform: translateX(0px);

  transition: transform 200ms;
}
.mynavbar-list-mobile-enter-done {
  overflow-y: scroll;
}
.mynavbar-list-mobile-exit-active {
  transform: translateX(400px);
  transition: transform 300ms;
}
